<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ufcpredictor.autoretrain</string>
    <key>ProgramArguments</key>
    <array>
        <string>__REPO__/.venv/bin/python</string>
        <string>__REPO__/auto_retrain.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>__REPO__</string>
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Weekday</key>
            <integer>1</integer>
            <key>Hour</key>
            <integer>2</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>Weekday</key>
            <integer>5</integer>
            <key>Hour</key>
            <integer>2</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
    </array>
    <key>StandardOutPath</key>
    <string>__REPO__/logs/launchd_out.log</string>
    <key>StandardErrorPath</key>
    <string>__REPO__/logs/launchd_error.log</string>
</dict>
</plist>
